.class {
    background-image: url("https://cdn.heroestd.io/DappUI/class.png");
    background-repeat: no-repeat;
    display: block;
}

.cardElement-Class01 {
    width: 256px;
    height: 373px;
    background-position: -5px -5px;
}

.cardElement-Class07 {
    width: 256px;
    height: 373px;
    background-position: -271px -5px;
}

.cardElement-Class04 {
    width: 256px;
    height: 373px;
    background-position: -537px -5px;
}

.cardElement-Class10 {
    width: 256px;
    height: 373px;
    background-position: -5px -388px;
}

.cardElement-Class05 {
    width: 256px;
    height: 373px;
    background-position: -271px -388px;
}

.cardElement-Class02 {
    width: 256px;
    height: 373px;
    background-position: -537px -388px;
}

.cardElement-Class06 {
    width: 256px;
    height: 373px;
    background-position: -803px -5px;
}

.cardElement-Class09 {
    width: 256px;
    height: 373px;
    background-position: -803px -388px;
}

.cardElement-Class03 {
    width: 256px;
    height: 373px;
    background-position: -5px -771px;
}

.cardElement-Class08 {
    width: 256px;
    height: 373px;
    background-position: -271px -771px;
}
