.heroes {
    background-image: url("https://cdn.heroestd.io/DappUI/heroes.png");
    background-repeat: no-repeat;
    display: block;
}

.heroes-1 {
    width: 252px;
    height: 368px;
    background-position: -5px -5px;
}

.heroes-10 {
    width: 252px;
    height: 368px;
    background-position: -267px -5px;
}

.heroes-11 {
    width: 252px;
    height: 368px;
    background-position: -529px -5px;
}

.heroes-12 {
    width: 252px;
    height: 368px;
    background-position: -791px -5px;
}

.heroes-13 {
    width: 252px;
    height: 368px;
    background-position: -1053px -5px;
}

.heroes-14 {
    width: 252px;
    height: 368px;
    background-position: -5px -383px;
}

.heroes-15 {
    width: 254px;
    height: 370px;
    background-position: -267px -383px;
}

.heroes-16 {
    width: 252px;
    height: 368px;
    background-position: -531px -383px;
}

.heroes-17 {
    width: 252px;
    height: 368px;
    background-position: -793px -383px;
}

.heroes-18 {
    width: 252px;
    height: 368px;
    background-position: -1055px -383px;
}

.heroes-19 {
    width: 252px;
    height: 368px;
    background-position: -5px -761px;
}

.heroes-2 {
    width: 252px;
    height: 368px;
    background-position: -531px -761px;
}

.heroes-20 {
    width: 252px;
    height: 368px;
    background-position: -793px -761px;
}

.heroes-3 {
    width: 252px;
    height: 368px;
    background-position: -1055px -761px;
}

.heroes-4 {
    width: 252px;
    height: 368px;
    background-position: -1315px -5px;
}

.heroes-5 {
    width: 252px;
    height: 368px;
    background-position: -1317px -383px;
}

.heroes-6 {
    width: 252px;
    height: 368px;
    background-position: -1317px -761px;
}

.heroes-7 {
    width: 254px;
    height: 370px;
    background-position: -5px -1139px;
}

.heroes-8 {
    width: 252px;
    height: 368px;
    background-position: -269px -1139px;
}

.heroes-9 {
    width: 252px;
    height: 368px;
    background-position: -531px -1139px;
}
