.heroGenC {
  background-image: url(C.svg);
  background-repeat: no-repeat;
  display: block;
  background-size: 33px 43px;
}
.heroGenR {
  background-image: url(R.svg);
  background-repeat: no-repeat;
  display: block;
}
.heroGenSR {
  background-image: url(SR.svg);
  background-repeat: no-repeat;
  display: block;
}
.heroGenSSR {
  background-image: url(SSR.svg);
  background-repeat: no-repeat;
  display: block;
}
