.mask {
    background-image: url("https://cdn.heroestd.io/DappUI/mask.png");
    background-repeat: no-repeat;
    display: block;
}

.cardElement-Mask {
    width: 253px;
    height: 369px;
    background-position: -5px -5px;
}
