.smart-chain {
    border: 1px solid #424243;
    border-radius: 10px;
    background: none;

}

.address-bottom {
    border-top: 1px solid #424243;
    padding: 8px 0px;
    // opacity: 80%;
    background: rgba(17, 17, 17, .34);
    backdrop-filter: blur(60px);
    
    // border-radius: 0px 0px 5px 5px;
}
